@use "../_abstract/mixins" as *;

// width
.w-full {
  width: 100%;
}

.min-w-full {
  min-width: 100%;
}

.max-w-600 {
  max-width: 600px;
}

// height
.h-full {
  height: 100vh;
}

.min-h-full {
  min-height: 100vh;
}

.min-h-450 {
  min-height: 450px;
}
